<!--
  Made by:
  Martijn van de Kamer
  1803202
 -->

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <!-- adds all tabs and their links -->

    <ion-tab-button tab="about">
      <ion-icon name="person"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resume">
      <ion-icon name="paper"></ion-icon>
      <ion-label>CV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="projects">
      <ion-icon name="code-working"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>Contact</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
