<!--
  Made by:
  Martijn van de Kamer
  1803202
 -->

<ion-header>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-title><b>MyCV</b></ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <img src="./assets/img/1.jpg" />
   <ion-card-content>
      <ion-text>Welcome to my CV app! By navigating the buttons below, you will find the different sections of my CV, and learn a bit about me and my experience. I will be happy to answer questions, should you have any. It's been very educational and fun building this, and I hope you'll have a good experience! <br><br> Best regards, <br> Martijn van de Kamer </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>