ion-toolbar {
  --background: #C0CCDA;
}

ion-title {
  --color: white;
}

ion-content {
  --background: #EEEEEE;
}

ion-card {
  line-height: 1.4em;
}

.card-title {
  font-size: 1.4rem;
}

.card-content {
  font-size: 1.2rem;
  line-height: 1em;
}

.ion-padding {
  --ion-padding: 10px;
}