<!--
  Made by:
  Martijn van de Kamer
  1803202
 -->

<ion-header>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-title><b>MyCV</b></ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Name</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">Martijn van de Kamer</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Gender</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">Male</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Date of birth</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">15.06.1992</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Profile</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">Business Information Technology student looking for new challenges in the field of
        modern technology and business. I am highly reliable, productive and cooperative. I also have excellent
        customer-relations skills and have a can-do, problem-solving attitude.</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Language skills</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">
        <ion-grid>
          <ion-row>
            <ion-col>Dutch</ion-col>
            <ion-col>Mother tongue</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>English</ion-col>
            <ion-col>Native level</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Finnish</ion-col>
            <ion-col>Beginner</ion-col>
          </ion-row>
        </ion-grid>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Development skills</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">Currently studying 10 ECTS in mobile app development </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Future skills</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">Planning on studying 15 more ECTS in native and JavaScript development </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>