<!--
  Made by:
  Martijn van de Kamer
  1803202
 -->

 <ion-header>
    <ion-toolbar>
      <div class="ion-padding">
        <ion-title><b>MyCV</b></ion-title>
      </div>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
      <ion-tab-bar>
      <ion-tab-button tab="projects">
        <ion-icon name="contact"></ion-icon>
        <ion-label>PERSONAL PROJECTS</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="projects/team-projects" class="selected">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>TEAM PROJECTS</ion-label>
      </ion-tab-button>
      </ion-tab-bar>
    </ion-toolbar>
  
  <ion-content>
  
    <ion-card color="light">
      <ion-card-header color="primary">
        <ion-text class="card-title">Google weather + news feed</ion-text>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-padding"></div>
        <ion-text class="card-content"><a href="https://github.com/chadau/AppLabwork4-5">https://github.com/chadau/AppLabwork4-5</a></ion-text>
      </ion-card-content>
    </ion-card>
  
  </ion-content>