/* Made by:
  Martijn van de Kamer
  1803202 */

ion-toolbar {
    --background: #C0CCDA;
}
  
ion-title {
    --color: white;
}
  
ion-content {
    --background: #EEEEEE;
}

ion-card {
    line-height: 1.4em;
}

.card-title {
    font-size: 1.4rem;
}

.card-content {
    font-size: 1.2rem;
    line-height: 1em;
}

.ion-padding {
    --ion-padding: 10px;
}

a {
    color: black;
}

ion-tab-bar {
    --background: #C0CCDA
}

ion-tab-button {
    --color: rgb(238, 238, 238);
    --background: #C0CCDA;
}

.selected {
    color: white;
    border-bottom: white solid 3px;
}