/* Made by:
  Martijn van de Kamer
  1803202 */

ion-toolbar {
    --background: #C0CCDA;
}

ion-title {
    --color: white;
}

ion-content {
    --background: #EEEEEE;
}

ion-item {
    --background: #EEEEEE;
}