<!--
  Made by:
  Martijn van de Kamer
  1803202
 -->

<ion-header>
    <ion-toolbar>
      <div class="ion-padding">
        <ion-title><b>MyCV</b></ion-title>
      </div>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
      <ion-tab-bar>
      <ion-tab-button tab="projects" class="selected">
        <ion-icon name="contact"></ion-icon>
        <ion-label>PERSONAL PROJECTS</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="projects/team-projects">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>TEAM PROJECTS</ion-label>
      </ion-tab-button>
      </ion-tab-bar>
    </ion-toolbar>
  
  <ion-content>
  
    <ion-card color="light">
      <ion-card-header color="primary">
        <ion-text class="card-title">UI elements practice</ion-text>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-padding"></div>
        <ion-text class="card-content"><a href="https://github.com/martijnvdk/MobileAppsUI">https://github.com/martijnvdk/MobileAppsUI</a></ion-text>
      </ion-card-content>
    </ion-card>
  
    <ion-card color="light">
      <ion-card-header color="primary">
        <ion-text class="card-title">songList</ion-text>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-padding"></div>
        <ion-text class="card-content"><a href="https://github.com/martijnvdk/songList">https://github.com/martijnvdk/songList</a></ion-text>
      </ion-card-content>
    </ion-card>
  
    <ion-card color="light">
      <ion-card-header color="primary">
        <ion-text class="card-title">CV app V1</ion-text>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-padding"></div>
        <ion-text class="card-content"><a href="https://github.com/martijnvdk/MobileAppsExam1">https://github.com/martijnvdk/MobileAppsExam1</a></ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
        <ion-card-header color="primary">
          <ion-text class="card-title">CV app V2</ion-text>
        </ion-card-header>
        <ion-card-content>
          <div class="ion-padding"></div>
          <ion-text class="card-content"><a href="https://github.com/martijnvdk/MobileAppsExam2">https://github.com/martijnvdk/MobileAppsExam2</a></ion-text>
        </ion-card-content>
      </ion-card>

    <ion-card color="light">
        <ion-card-header color="primary">
          <ion-text class="card-title">Homework scheduling app</ion-text>
        </ion-card-header>
        <ion-card-content>
          <div class="ion-padding"></div>
          <ion-text class="card-content"><a href="https://github.com/martijnvdk/CrossPlatformExam">https://github.com/martijnvdk/CrossPlatformExam</a></ion-text>
        </ion-card-content>
      </ion-card>
  
  </ion-content>