<!--
  Made by:
  Martijn van de Kamer
  1803202
 -->

<ion-header>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-title><b>MyCV</b></ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-tab-bar>
    <ion-tab-button tab="resume" class="selected">
      <ion-icon name="construct"></ion-icon>
      <ion-label>TECHNICAL SKILLS</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="resume/soft-skills">
      <ion-icon name="people"></ion-icon>
      <ion-label>SOFT SKILLS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-toolbar>

<ion-content>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Prototyping</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">Wireframing/prototyping with Marvel </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">UX/UI</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">Best practices of UX and UI design</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Development skills</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ul class="card-content">
        <li>HTML, CSS, JavaScript</li>
        <li>Mobile development with Node.JS and Ionic 4</li>
        <li>Cross-platform development with Apache Cordova</li>
        <li>Implementing Firebase database</li>
        <li>Fundamental programming skills (Java, Python)</li>
        <li>Fundamental database and SQL skills</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="primary">
      <ion-text class="card-title">Future skills</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding"></div>
      <ion-text class="card-content">Planning on studying 15 more ECTS in native and JavaScript development </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>