ion-toolbar {
    --background: #C0CCDA;
}

ion-back-button {
    --color: white;
}

ion-title {
    --color: white;
}

ion-content {
    --background: #EEEEEE;
}

ion-item{
    --background: #EEEEEE;
}